.querylab-container{
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
}

.querylab-content{
    padding-top: 120px;
}

.btn-active-db{
    background-color: beige;
}
.btn-active-db:hover, .btn-inactive-db:hover{
    background-color: rgb(200, 200, 159);
}
